@model MvcStok.Models.Entity.TBLMUSTERILER
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>MÜŞTERİ ADI:</label>
        @*<input type="text" class="form-control" name="MUSTERIAD" />*@
        @Html.TextBoxFor(m=>m.MUSTERIAD, new { @class="form-control"})
        @Html.ValidationMessageFor(m=>m.MUSTERIAD,"", new { @style="blue"})
    </div>
    <div>
        <label>MÜŞTERİ SOYADI:</label>
        <input type="text" class="form-control" name="MUSTERISOYAD" />

    </div>
    <div>
        <button class="btn bg-info">MUSTERİ EKLE</button>
    </div>
</form>

